body {
  margin: 0 0 55px 0;
}
.first-screen {
  margin: 30px;
}

.header-text {
  text-align: center;
 
}

.relative {
  position: relative;
  margin-left: -25px;
  
}

div.top {
  /* background: steelblue; */
  border: 5px solid #f98263;
  border-bottom: none;
  display: inline-block;
  margin: 0 1em 1em 0;
}

.top {
  height: 75px;
  width: 150px;
}

.top {
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: grey transparent transparent transparent;
  top: 46px;
  left: 165px;
}

.min-value {
  position: absolute;
  top: 127px;
  left: 28px;
}

.average-value {
  position: absolute;
  left: 135px;
  top: 15px;
}

.semi-circle {
  left: 100px;
  position: absolute;
  top: 60px;
}

.max-value {
  position: absolute;
  top: 125px;
  left: 270px;
}
.card-card {
  display: flex;
}

.fa-thin {
  color: red;
}

nav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
   background-color: #fff; 
}

.color {
  color: RGB(177, 175, 183);
  padding: 14px 16px;
   font-size: 18px;
}

.red {
  background: #ff805f;
  color: white;
  border-radius: 50%; 
}

    .current-weight {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px 0;
    }

    .weight-text {
      padding: 0 60px;
      font-size: 30px;
      color: #403f47;
    }

    .weight-number {
      font-size: 50px;
      color: #403f47;
       margin-top: 50px;
    }

    .weight-measurement {
      color: #fff;
      background:#8173bf;
      width: 50px;
      height: 20px;
      text-align: center;
      border-radius: 5px;
    }

    .weight-button {
      width: 250px;
      height: 50px;
      border-radius: 10px;
      border: none;
      background: #ff805f;
      color: #fff;
      font-size: 16px;
      margin-top: 100px;
    }

    input {
      width: 80%;
      padding:12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border-radius: 6px;
      border: 2px solid gray
      ;
    }

    .flex {
      display: inline-block;
      margin:100px auto;
      text-align: center;
    }

    ::placeholder {
      color: #fd4513;
    }

    .new {
      margin-top: 20px;
      width: 300px;
    }